<link rel="stylesheet" href="/static/lib/highlight-github.min.css{{ asset_v('static/lib/highlight-github.min.css') }}" />
<script defer src="/static/lib/highlight.min.js{{ asset_v('static/lib/highlight.min.js') }}"></script>
<link rel="stylesheet" href="/static/lib/katex.min.css{{ asset_v('static/lib/katex.min.css') }}" />
<link rel="stylesheet" href="/static/css/wu-editor.css{{ asset_v('static/css/wu-editor.css') }}" />
<script defer src="/static/lib/tiptap-bundle.min.js{{ asset_v('static/lib/tiptap-bundle.min.js') }}"></script>
<script defer src="/static/lib/mermaid-bundle.min.js{{ asset_v('static/lib/mermaid-bundle.min.js') }}"></script>
<script defer src="/static/js/wu-editor.js{{ asset_v('static/js/wu-editor.js') }}"></script>
